* {  
  background-color: #676767;
  color: #faffee;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  text-align: center;
}

section {
  margin: 10vh 10vw 10vh 10vw;
}

.upper-section {
  margin: auto;
}

h3 {
  background: none;
}

#input-container {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background: linear-gradient(180deg, #aaaa, #bbbb);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result {
  padding: 10px;
  margin-top: 5px;
  height: 30px; 
  overflow: hidden;
  background: none;
}

.show-result {
  height: auto; 
}


input {
  color: #222222;
  background-color: #faffee;
  font-size: 20px;
  width: 50vw;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: inset 10px 10px 10px #ffff;
  outline: none;
}

button {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #222222;
  background-color: #aaaaaa;
  box-shadow: inset 10px 10px 10px #bbbbbb;
}

button:hover {
  cursor: pointer;
}

button:active {
  background: linear-gradient(180deg, #fff, #eee);
}

#explanation-container {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background: linear-gradient(180deg, #aaaa, #bbbb);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p, i, u {
  background: none;
}

ul {
  padding: 0;
}

ul, li{
  background: none;
  list-style: none;
}

